body {
  background-color: #f0f0f2;
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a:link,
a:visited {
  color: #38488f;
  text-decoration: none;
}

@media (max-width: 700px) {
  div {
    margin: 0 auto;
    width: auto;
  }
}

:root {
  --sidebar-width: 500px;
}

/*----- HELPER STYLES ----------*/
.p2 {
  padding: 2rem;
}

.pr2 {
  padding-right: 2rem;
}

.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.text-gold {
  color: goldenrod;
}

/*----- SIDEBAR STYLES -------- */
.sidebar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar-open {
  background-color: #2196f3;
  width: 4rem;
  height: 4rem;
  position: relative;
  top: 1rem;
  color: #fafafa;
  z-index: 9;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.sidebar-open:hover,
.sidebar-close:hover {
  cursor: pointer;
}

.sidebar {
  background: linear-gradient(to right, #582a72, #882d61);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--sidebar-width);
  height: 100vh;
  z-index: 10;
  transition: ease-in-out 0.5s;
  transform: translateX(-500px);
  color: #fafafa;
}

.sidebar-active {
  transform: translateX(0);
}

.range-container,
.range {
  width: 100%;
}

.sidebar-close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 3rem;
}

/*------ SWITCH STYLES ------- */
/* ----- The switch - the box around the slider ------ */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* ------ Hide default HTML checkbox ------ */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* ------- The slider ---------- */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button {
  border: none;
  background-color: royalblue;
  color: #fafafa;
  border-radius: 5px;
  padding: 0.5rem;
}
button:hover {
  background-color: darkblue;
  cursor: pointer;
}

canvas {
  background-color: #222;
  position: fixed;
  bottom: 0;
  top: 0;
}
